.NewsDetailContainer {
    position: relative;
    top: 1%; /* 100pxから150pxに変更 */
    width:100%;
}


.NewsDetailHeader {
    display: flex;
    justify-content: center; /* 横方向に中央揃え */
    align-items: center;      /* 縦方向に中央揃え */
    padding-top: 5%;
}

.news_img {
    width: 50%;
    height: 50%;
    border: solid 2px #329eff; /* border プロパティから不要な引用符を削除 */
}

.news_company_name {
    display: inline-block; /* テキストの幅に合わせるための設定 */
    color: inherit;
    font-size: 20px; /* 既に指定されたサイズを使用 */
    height: 30px; /* 高さはそのままにしておく */
    overflow: hidden;
    font-weight: 600;
}

.news_created_at{
    display: inline-block; /* テキストの幅に合わせるための設定 */
    color: inherit;
    font-size: 20px; /* 既に指定されたサイズを使用 */
    height: 30px; /* 高さはそのままにしておく */
    overflow: hidden;
    font-weight: 600;
}

.news_title{
    margin-top: 6%;
    text-align: left;
    font-size:1.500rem;
}

.news_font{
    padding: "auto";
}

.news_summary {
    position: relative;
    width:50%;
    padding-top: 5%;
    margin-bottom: 10%;
    left: 25%;
    margin: -25px 0 0 -25px;
}

.NewsDetailHeader {
    display: "flex";
    flex-wrap: "wrap";
}

.news_genre {
    margin-left: 100%;
    width:120px;
    font-size: 10px;
    padding: 8px 16px;
    margin: 4px; 
    background: linear-gradient(#41A4FF, #9198e5); /* 背景色の設定 */
}

.news_genre:hover {
    background: linear-gradient(#c2c2c2, #e5ad91); /* ホバー時の背景色設定 */
}


.genre_update{
    display: "flex";
    flex-direction: "column";
    align-items: "flex-start";
    padding-left: "10%";
}

.popup_menu {
    /* 上端に固定するCSS */
    position: fixed;
    top: 80px;
    left: 15%;
    width: 80%;
    height: 50px;
    
    /* バーの装飾 */
    background-color: white;  /* 背景色 */
    color: black;             /* 文字色 */
    box-shadow: 1px 1px 1px black, 0.1em 0 .4em black; /* 影 */
    
    /* Flexboxを使って内容を中央に揃える */
    display: flex;
    align-items: center; /* 垂直方向の中央揃え */
    padding: 0 2%; /* 内側の余白 */
    z-index:2;
  }
  
  .popup_menu.invisible {
    opacity: 0; /* 初期状態は透明 */
    transform: translateY(-20px); /* 初期状態は少し上に移動 */
    transition: opacity 2.0s ease, transform 2.0s ease; /* フェードインと上下移動のアニメーション */
  }
  
  .popup_menu.visible {
    opacity: 1; /* 完全に表示 */
    transform: translateY(0); /* 元の位置に戻る */
  }
  
  .popup_menu p {
    margin: 0; 
    font-weight: bold;
    font-size: 20px;
  }
  
  